<%= form_tag coaches_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search], :placeholder => 'Current location' %>
      <%= submit_tag "Find Nearby Coaches", :name => nil %>
  </p> <br>
<% end %>

