<div class="homepage_main_text">
  <h1>Connect with the top lacrosse players in the country for private lessons</h1>
</div>
<div class="homepage_image">
  <img src="http://i.imgur.com/fR45diX.png" alt="">
</div>
<div class="homepage_sub_text">
    <!-- <p>Search by Location</p> -->
  <p>Find Elite Lacrosse Players Nearby,</p>
  <p>Schedule A Lesson,</p>
  <p>Start getting better today!</p> <br>
</div>
  <%= render partial: 'home/search' %>
<br>
<br>
<br>
  <%= render partial: 'layouts/footer' %>

