<div class="homepage">
  <div class="home_text">
<!--     <p>Search by your location and select from a list of current and former college and professional lacrosse players nearby to improve your game</p> -->
  </div>

    <!-- Find a coach near you will link to a search page, for the player to enter their city, state and the results will show all the coaches within a 25 mile radius to schedule a lesson with -->

  <%= render partial: 'home/search' %>

   <div>
    <p><%= link_to "View All Coaches", "/coaches" %></p>
  </div>



</div>
