<ul>
<% for coach in @coach.nearbys(10) %>
  <li><%= link_to coach.address, coach %> (<%= coach.distance.round(2) %> miles away)</li>
<% end %>
</ul>

<%= @coach.first_name %>
<%= @coach.last_name %>

