<div class="players">
  <h1>Current Lesson Connection Players</h1>
</div>

<% @players.each do |player| %>

<div class="player_info">
  <br>
  <ul>
    <li>
      <%= player.player_name %>,
      <%= player.age %> years old,
      <%= player.position %>
      <img src="<%= player.image %>"/> <br>
    </li>
  </ul>
</div>
<% end %>
