<% @players.each do |player| %>
  <ul class="view_players">
    <li>
      <%= player.player_name %>,
      <%= player.age %> years old,
      <%= player.position %>
      <img src="<%= player.image %>"/> <br>
    </li>
  </ul>
<% end %>
