<div class="player_profile">
   <% if current_player %>
     <%= render partial: 'players/form' %>
   <% end %>
  <br>
  <br>
  <div class="actions">
  <%= link_to "Delete Profile", @player, :method => :delete, :confirm => "Are you sure you want to delete your Lacrosse Lessons profile?" %>
  </div>
</div>
