/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 body {
  background-color: #b7b7b7;
  /*background: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSSjF7hCr0j5M3-d6DzdMBmWDLxmsImfS-1WA-UMVVlJhDbY9MF");*/
  font-family: Helvetica;
  color: rgba(0,0,0,.8);
  text-align: center;
  background-size: cover;
  background-position: center;
 /* color: white;*/

 }

/*whole body is wrapped in container*/
 .container {
    width: 960px;
    margin: 0 auto;
 }

  body {
  background-color: #b7b7b7;
  /*background: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSSjF7hCr0j5M3-d6DzdMBmWDLxmsImfS-1WA-UMVVlJhDbY9MF");*/
  font-family: Helvetica;
  color: rgba(0,0,0,.8);
  text-align: center;
  background-size: cover;
  background-position: center;
 /* color: white;*/
  width: 100%;
 }

 .homepage {
  text-align: center;
 }

 header {
  width: 100%;
  display :inline-block;
  background-color: #0f9900;
  margin: 0 auto;
  padding: 10px;
 }


a:link {
  text-decoration: none;
  color: white;
  margin: 10px;
}

a:visited {
  text-decoration: none;
  color: white;
  margin: 10px;
}

a:hover {
  color: rgba(0,0,0,.8);
}


/*this is title of page,
positioned top left of nav bar*/
.title {
  float:left;
  color: #ffffff;
  position: relative;
  margin: 0 auto;
}

.title_text {
  font-family: Courier;
  font-size: 36px;
  position: relative;
  margin: -10px;
}

/*this is the login/signup/signin links within nav*/
.top_right_links {
  float: right;
  margin: 0 30px;
}

/*this is the main logo on the homepage*/
.home_text {
  width: 100%;
  display :inline-block;
  margin: 0 auto;
  padding: 10px 0;
}

/*this is the footer of benefits*/
footer {
  background-color: #ffffff;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  display :inline-block;
  padding: 10px;
  clear: both;
}


/*this is the main benefit list and benefit desc together*/
.benefit_group {
  width: 30%;
  float: left;
  text-align: center;
  background-color: #ffffff;
}

/*this is main words (easy, access, results)*/
.benefit_list {
  color: #0f9900;
}

/*this is description to benefit list items*/
.benefit_desc {
  display: inline;
  color: #b7b7b7;
}

input {
  border: 0;
  padding: 10px;
  font-size: 18px;
}

input[type="submit"] {
  background: #0f9900;
  color: white;
}

.login {
  text-align: center;
}

.player_profile {
  border: 1px solid #0f9900;
  margin: 10px;
  padding: 10px;
}

.all_coaches {
  border: 4px solid #0f9900;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
  background-color: #ffffff;
  color: #b7b7b7;
}

.all_coaches a:link {
  color: #0f9900;
}

.all_coaches a:hover {
  color: rgba(0,0,0,.8);
}

.all_coaches span {
  color: rgba(0,0,0,.8);
}

.coach_image {
  height: 200px;
  width: 200px;
}

.schedule_lesson {

}

#flash_error{
  color:red;
  background: white;
  text-align: center;
}

#flash_notice{
  color:green;
  background: white;
  text-align: center;
}










