<div class="benefits">
  <ul>
    <div class="benefit_group">
    <p class="benefit_list">Easy</p>
      <li class="benefit_desc">Simply sign up and schedule a private lesson with a college player near you within minutes</li>
    </div>

  <div class="benefit_group">
    <p class="benefit_list">Access</p>
      <li class="benefit_desc">Stay ahead of the competition by having exclusive access to the best Division 1 and Professional players in the country</li>
  </div>

  <div class="benefit_group">
    <p class="benefit_list">Results</p>
      <li class="benefit_desc">Learn from the best. See what it takes to get to the next level from players that are there now</li>
    </div>

  </ul>
</div>
