<footer>
<div class="footer">
  <ul>
    <div class="benefit_group">
    <p class="benefit_list">EASY</p>
      <img class="benefit_img" src="http://i.imgur.com/zltq3s5.png" alt=""> <br>
      <li class="benefit_desc">Simply sign up and schedule a private lesson with a college player near you within minutes</li>
    </div>

  <div class="benefit_group">
    <p class="benefit_list">ACCESS</p>
      <img class="benefit_img" src="http://i.imgur.com/Adl9ewO.png" alt=""> <br>
      <li class="benefit_desc">Stay ahead of the competition by having exclusive access to the best Division 1 and Professional players in the country</li>
  </div>

  <div class="benefit_group">
    <p class="benefit_list">RESULTS</p>
    <img class="benefit_img" src="http://i.imgur.com/oQwp6CL.png" alt=""> <br>
      <li class="benefit_desc">Learn from the best. Improve your game. Get to the next level</li>
    </div>

  </ul>
</div>
</footer>
