<footer>
  <ul>
    <div class="benefit_group">
    <p class="benefit_list">EASY</p>
      <img class="benefit_img" src="http://icons.iconarchive.com/icons/ampeross/qetto-2/128/clock-icon.png" alt=""> <br>
      <li class="benefit_desc">Simply sign up and schedule a private lesson with a college player near you within minutes</li>
    </div>

  <div class="benefit_group">
    <p class="benefit_list">ACCESS</p>
      <img class="benefit_img" src="http://icons.iconarchive.com/icons/visualpharm/ios7v2/128/Basic-Key-icon.png" alt=""> <br>
      <li class="benefit_desc">Stay ahead of the competition by having exclusive access to the best Division 1 and Professional players in the country</li>
  </div>

  <div class="benefit_group">
    <p class="benefit_list">RESULTS</p>
    <img class="benefit_img" src="http://www.reh.com.au/test/assets/home/resultsIcon.gif" alt=""> <br>
      <li class="benefit_desc">Learn from the best. Improve your game. Get to the next level</li>
    </div>

  </ul>
</footer>
